<footer class="mt-8 pb-4 pt-6 bg-primaryBlue text-white">
    <div class="container  mx-auto px-4 flex flex-col md:flex-row md:justify-between md:items-start gap-6">
        <div>
            <h5 class="text-lg font-bold">Mini Reseau-Social</h5>
            <small class="block mt-2 text-gray-200">&copy; Max Valentin Angelika 2025</small>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <ul class="space-y-2 md:space-y-0 md:space-x-4">
                <li><a href="#" class="hover:text-primaryGreen transition-colors font-semibold">Contactez-nous</a></li>
                <li><a href="#" class="hover:text-primaryGreen transition-colors font-semibold">Mentions légales</a></li>
                <li><a href="#" class="hover:text-primaryGreen transition-colors font-semibold">Politique de confidentialité</a></li>
                <li><a href="#" class="hover:text-primaryGreen transition-colors font-semibold">Plan du site</a></li>
            </ul>
        </div>
    </div>
</footer>