<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    
    {% block stylesheets %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        darkMode: '#181f20ff',
                        darkBg: '#253032ff',
                        primaryBlue: '#66c1cfff',
                        primaryGreen: '#86eb9eff',
                        lightBg: '#F7FAFC'
                    }
                }
            }
        }
    </script>
    {% endblock %}

    {% block javascripts %}
    <script src="script.js" defer></script>
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="dark:bg-darkBg bg-lightBg text-gray-900 font-sans min-h-screen">
    {% include 'partials/_nav.html.twig' %}

    <main class="container mx-auto px-4 py-6">
        {% block body %}{% endblock %}
    </main>

    {% include 'partials/_footer.html.twig' %}
</body>
</html>